<Title>404 coffe not found | GLR Discord Bot</Title>
<link rel="stylesheet" href="/css/prod/404.min.css">

<div class="mat-layout-grid">
  <div class="mat-layout-grid-inner">
    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
      <MatH1>404</MatH1>
      <MatH5>Oops! The engineers couldn't find the requested page in the intergalactic network.</MatH5>
    </div>
    <div class="mat-layout-grid-cell">
      <div class="call-to-action-list">
        <MatButtonLink Raised="true" Href="/index" Icon="arrow_back">Previous page</MatButtonLink>
        <MatButtonLink Outlined="true" Href="/index" Icon="home">Home</MatButtonLink>
      </div>
    </div>
    <div class="mat-layout-grid-cell"></div>
  </div>
</div>
<div class="deco deco-top">
  <div class="pre-deco"></div>
  <div class="deco-image"></div>
</div>
<div class="deco deco-right">
  <div class="pre-deco"></div>
  <div class="deco-image"></div>
</div>
<div class="deco deco-bottom">
  <div class="pre-deco"></div>
  <div class="deco-image"></div>
</div>
<div class="deco deco-left">
  <div class="pre-deco"></div>
  <div class="deco-image"></div>
</div>