/* Page-specific layout */
.app-main-content {
  padding: 64px 0 0;
}

.mat-layout-grid {
  padding: 0 24px;
}

.mat-layout-grid-inner {
  background-color: var(--dcrd-background-primary);
}

.mat-layout-grid-cell {
  padding-block-start: 1.5rem;
}

#visual-demo.mat-layout-grid-cell-span-12,
#message-config.mat-layout-grid-cell-span-12 {
    overflow: hidden;
}

#message-config.mat-layout-grid-cell {
  background-color: var(--mdc-theme-background);
}

#visual-demo.mat-layout-grid-cell {
  padding-inline-end: 0;
  background-color: var(--dcrd-background-primary);
  font-family: Whitney,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

@media screen and (min-width: 840px) {
  body {
    overflow: hidden;
  }
  
  .mat-layout-grid {
    padding-inline-end: 0;
  }
  
  .mat-layout-grid-cell {
    padding-inline-end: 1.5rem;
  }
  
  #visual-demo.mat-layout-grid-cell-span-12,
  #message-config.mat-layout-grid-cell-span-12 {
    grid-column-end: span 6;
    overflow-y: scroll;
    height: calc(100vh - 64px);
  }
}

/* Message styles */
/** Text styles **/
.message img[alt] {
  text-indent: -9999px;
}

.message .contents .message-content strong {
  font-weight: 700;
}

.message .contents .message-content blockquote {
  padding-inline: 12px 8px;
  box-sizing: border-box;
  text-indent: 0;
}

.message .contents .message-content .blockquote-container {
  display: flex;
}

.message .contents .message-content .blockquote-divider {
  width: 4px;
  border-radius: 4px;
  background-color: var(--dcrd-interactive-muted);
}

.message .contents .message-content code.inline {
  width: auto;
  height: auto;
  padding: .2em;
  margin: -.2em 0;
  border-radius: 3px;
  font-size: 85%;
  font-family: Consolas,Andale Mono WT,Andale Mono,Lucida Console,Lucida Sans Typewriter,DejaVu Sans Mono,Bitstream Vera Sans Mono,Liberation Mono,Nimbus Mono L,Monaco,Courier New,Courier,monospace;
  text-indent: 0;
  border: none;
  white-space: pre-wrap;
  line-height: 1.125rem;
  scrollbar-width: thin;
  scrollbar-color: var(--background-tertiary) var(--background-secondary);
  background: var(--background-secondary);
}

.message .contents .message-content pre {
  box-sizing: border-box;
  max-width: 90%;
  border-radius: 4px;
  padding: 0;
  font-family: Consolas,Andale Mono WT,Andale Mono,Lucida Console,Lucida Sans Typewriter,DejaVu Sans Mono,Bitstream Vera Sans Mono,Liberation Mono,Nimbus Mono L,Monaco,Courier New,Courier,monospace;
  font-size: 0.75rem;
  line-height: 1rem;
  margin-block-start: 6px;
  white-space: pre-wrap;
  background-clip: border-box;
}

.message .contents .message-content pre code {
  font-size: 0.875rem;
  line-height: 1.125rem;
  text-indent: 0;
  white-space: pre-wrap;
  scrollbar-width: thin;
  scrollbar-color: var(--dcrd-background-tertiary) var(--dcrd-background-secondary);
  background: var(--dcrd-background-secondary);
  border: 1px solid var(--dcrd-background-tertiary);
  display: block;
  overflow-x: auto;
  padding: .5em;
  border-radius: 4px;
  color: var(--dcrd-header-secondary);
  text-size-adjust: none;
  font-family: Consolas,Andale Mono WT,Andale Mono,Lucida Console,Lucida Sans Typewriter,DejaVu Sans Mono,Bitstream Vera Sans Mono,Liberation Mono,Nimbus Mono L,Monaco,Courier New,Courier,monospace;
}

.message .contents .message-content .spoiler-text {
  background-color: var(--background-primary);
  background-color: hsla(0,0%,100%,.1);
  padding: 0 .2em;
  border-radius: 3px;
  transition: all .1s ease;
}

/** General styles **/
.message-container {
  min-width: 0;
  min-height: 0;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  position: relative;
  overflow-anchor: none;
}

.message {
  margin-block-start: 1.0625rem;
  min-height: 2.75rem;
  padding: .125rem 48px .125rem 72px;
  position: relative;
  word-wrap: break-word;
  user-select: text;
  flex: 0 0 auto;
  padding-right: 16px;
}

.message a {
  color: var(--dcrd-text-link);
  cursor: pointer;
  text-decoration: none;
}

.message a:hover {
  text-decoration: underline;
}

.message .contents {
  position: static;
}

.message .contents .avatar {
  position: absolute;
  left: 16px;
  margin-block-start: calc(4px - .125rem);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  user-select: none;
  flex: 0 0 auto;
  pointer-events: none;
  z-index: 1;
  background-color: var(--dcrd-background-secondary-alt);
}

.message .contents .header {
  display: inline-block;
  position: relative;
  line-height: 1.375rem;
  min-height: 1.375rem;
  color: var(--text-muted);
  /*white-space: break-spaces;*/
  overflow: hidden;
}

.message .contents .header .username-text {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.375rem;
  color: var(--dcrd-header-primary);
  display: inline;
  vertical-align: baseline;
  position: relative;
}

.message .contents .header .bot-tag {
  height: 0.9375rem;
  padding: 0 0.275rem;
  margin-block-start: 0.075em;
  border-radius: 0.1875rem;
  background: #7289da;
  color: #fff;
  font-size: 0.625rem;
  text-transform: uppercase;
  vertical-align: top;
  display: inline-flex;
  align-items: center;
  flex-shrink: 0;
  text-indent: 0;
  position: relative;
  top: calc(0.1rem + 0.1rem);
}

.message .contents .header .bot-tag .bot-text {
  line-height: 0.9375rem;
  position: relative;
  font-weight: 500;
}

.message .contents .timestamp {
  font-size: 0.75rem;
  line-height: 1.375rem;
  color: var(--dcrd-text-muted);
  vertical-align: top;
  margin-inline-start: .25rem;
  display: inline-block;
  height: 1.25rem;
  cursor: default;
  pointer-events: none;
  font-weight: 500;
}

.message .contents .message-content {
  margin-inline-start: -72px;
  padding-inline-start: 72px;
  overflow: hidden;
  font-size: 1rem;
  line-height: 1.375rem;
  user-select: text;
  color: var(--dcrd-text-normal);
  font-weight: 400;
  text-indent: 0;
}

/** Containers' styles (embeds / multimedia) **/
.message .embeds-container {
  display: grid;
  grid-auto-flow: row;
  grid-row-gap: .25rem;
  text-indent: 0;
  min-height: 0;
  min-width: 0;
  padding-block: .125rem;
}

.message .embed-wrapper {
    justify-self: start;
  -ms-flex-item-align: start;
  align-self: start;
  border-left: 4px solid var(--dcrd-background-tertiary);
  background: var(--dcrd-background-secondary);
  position: relative;
  display: grid;
  max-width: 520px;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 1rem;
  line-height: 1.375rem;
  white-space: pre-wrap;
  white-space: break-spaces;
  word-wrap: break-word;
  user-select: text;
  color: var(--dcrd-text-normal);
  font-weight: 400;
}

.message .embed-grid {
  overflow: hidden;
  padding: .5rem 1rem 1rem .75rem;
  display: inline-grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
}

.message .embed-grid.has-thumbnail{
  grid-template-columns: auto min-content;
}

.message .embed-wrapper .embed-margin {
  margin-block-start: 8px;
}

.message .embed-wrapper .embed-author {
  min-width: 0;
  display: flex;
  align-items: center;
  grid-column: 1/1;
}

.message .embed-wrapper .embed-author__icon {
  margin-inline-end: 8px;
  width: 24px;
  height: 24px;
  object-fit: contain;
  border-radius: 50%;
}

.message .embed-wrapper .embed-author__link {
  color: var(--dcrd-header-primary);
  font-size: 0.875rem;
  font-weight: 600;
}

.message .embed-wrapper .embed-title {
  min-width: 0;
  color: var(--dcrd-header-primary);
  font-size: 1rem;
  font-weight: 600;
  display: inline-block;
  grid-column: 1/1;
}

.message .embed-wrapper .embed-title__link {
  font-size: 1rem;
  font-weight: 600;
  display: inline-block;
  grid-column: 1/1;
}

.message .embed-wrapper .embed-description {
  min-width: 0;
  color: var(--text-normal);
  font-size: 0.875rem;
  line-height: 1.125rem;
  font-weight: 400;
  white-space: pre-line;
  grid-column: 1/1;
}

.message .embed-wrapper .embed-fields {
  display: grid;
  grid-column: 1/1;
  grid-gap: 8px;
}

.message .embed-wrapper .embed-field, .message .embed-wrapper .embed-field__name {
  font-size: 0.875rem;
  line-height: 1.125rem;
  min-width: 0;
}

.message .embed-wrapper .embed-field {
  font-weight: 400;
  font-size: 0;
  line-height: 0;
}

.message .embed-wrapper .embed-field__name {
  color: var(--dcrd-header-primary);
  font-weight: 600;
  margin-bottom: 2px;
}

.message .embed-wrapper .embed-field__value {
  color: var(--dcrd-text-normal);
  font-size: 0.875rem;
  line-height: 1.125rem;
  font-weight: 400;
  white-space: pre-line;
  min-width: 0;
}

.message .embed-wrapper .embed-gallery {
  grid-column: 1/2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 4px;
  overflow: hidden;
  border-radius: 4px;
  margin-top: 16px;
}

.message .embed-wrapper .embed-gallery__side {
  display: flex;
  overflow: hidden;
  flex-direction: column;
}

.message .embed-wrapper .embed-gallery__image {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.message .embed-wrapper .embed-thumbnail {
  display: block;
  position: relative;
  user-select: text;
  overflow: hidden;
  grid-row: 1/8;
  grid-column: 2/2;
  margin-left: 16px;
  margin-top: 8px;
  flex-shrink: 0;
  justify-self: end;
  object-fit: fill;
  border-radius: 4px;
}

.message .embed-wrapper .embed-footer {
  display: flex;
  align-items: center;
  grid-row: auto/auto;
  grid-column: 1/1;
}

.message .embed-wrapper .has-thumbnail .embed-footer {
  grid-column: 1/3;
}

.message .embed-wrapper .embed-footer__icon {
  margin-right: 8px;
  width: 20px;
  height: 20px;
  -o-object-fit: contain;
  object-fit: contain;
  border-radius: 50%;
}

.message .embed-wrapper .embed-footer__text {
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 500;
  color: var(--dcrd-text-normal);
}

.message .embed-wrapper .embed-footer__text .embed-footer__text-separator {
  font-weight: 500;
  color: var(--text-normal);
  display: inline-block;
  margin: 0 4px;
}