:root {
  --mdc-typography-headline1-font-family: var(--mdc-typography-font-family-2);
  --mdc-typography-headline1-font-size: 6rem; /* 96px */
  --mdc-typography-headline1-font-weight: 900;
  --mdc-typography-headline1-line-height: 6rem; /* 144px*/
  --mdc-typography-headline2-font-family: var(--mdc-typography-font-family);
  --mdc-typography-headline2-font-size: 3.75rem; /* 60px */
  --mdc-typography-headline2-font-weight: 300;
  --mdc-typography-headline2-line-height: 3.75rem; /* 92px */
  --mdc-typography-headline3-font-family: var(--mdc-typography-font-family-2);
  --mdc-typography-headline3-font-size: 3rem; /* 48px */
  --mdc-typography-headline3-font-weight: 900;
  --mdc-typography-headline3-line-height: 3.125rem; /* 72px */
  --mdc-typography-headline4-font-family: var(--mdc-typography-font-family);
  --mdc-typography-headline4-font-size: 2.125rem; /* 34px */
  --mdc-typography-headline4-font-weight: 400;
  --mdc-typography-headline4-line-height: 2.5rem; /* 50px */
  --mdc-typography-headline5-font-family: var(--mdc-typography-font-family);
  --mdc-typography-headline5-font-size: 1.5rem; /* 24px */
  --mdc-typography-headline5-font-weight: 400;
  --mdc-typography-headline5-line-height: 2rem; /* 36px */
  --mdc-typography-headline6-font-family: var(--mdc-typography-font-family-2);
  --mdc-typography-headline6-font-size: 1.25rem; /* 20px */
  --mdc-typography-headline6-font-weight: 700;
  --mdc-typography-headline6-line-height: 2rem; /* 28px */
  --mdc-typography-subtitle1-font-family: var(--mdc-typography-font-family);
  --mdc-typography-subtitle1-font-size: 1rem; /* 16px */
  --mdc-typography-subtitle1-font-weight: 500;
  --mdc-typography-subtitle1-line-height: 1.75rem; /* 24px */
  --mdc-typography-subtitle2-font-family: var(--mdc-typography-font-family-2);
  --mdc-typography-subtitle2-font-size: 0.875rem; /* 14px */
  --mdc-typography-subtitle2-font-weight: 500;
  --mdc-typography-subtitle2-line-height: 1.375rem; /* 20px */
  --mdc-typography-body1-font-family: var(--mdc-typography-font-family-2);
  --mdc-typography-body1-font-size: 1rem; /* 16px */
  --mdc-typography-body1-font-weight: 400;
  --mdc-typography-body1-line-height: 1.5rem; /* 24px */
  --mdc-typography-body2-font-family: var(--mdc-typography-font-family);
  --mdc-typography-body2-font-size: 0.875rem; /* 14px */
  --mdc-typography-body2-font-weight: 400;
  --mdc-typography-body2-line-height: 1.25rem; /* 20px */
  --mdc-typography-button-font-family: var(--mdc-typography-font-family);
  --mdc-typography-button-font-size: 0.875; /* 14px */
  --mdc-typography-button-font-weight: 500;
  --mdc-typography-button-line-height: 2.25rem; /* 20px */
  --mdc-typography-caption-font-family: var(--mdc-typography-font-family-2);
  --mdc-typography-caption-font-size: 0.75rem; /* 12px */
  --mdc-typography-caption-font-weight: 400;
  --mdc-typography-caption-line-height: 1.25rem; /* 16px */
  --mdc-typography-overline-font-family: var(--mdc-typography-font-family);
  --mdc-typography-overline-font-size: 0.75rem; /* 10px */
  --mdc-typography-overline-font-weight: 700;
  --mdc-typography-overline-line-height: 2rem; /* 12px */
  --mdc-typography-footnote-font-family: var(--mdc-typography-font-family);
  --mdc-typography-footnote-font-size: 12px;
  --mdc-typography-footnote-font-weight: 400;
  --mdc-typography-footnote-line-height: 22px;
}


/*
h1.mdc-typography {
  font-family: var(--mdc-typography-headline1-font-family);
  font-size: var(--mdc-typography-headline1-font-size);
  font-weight: var(--mdc-typography-headline1-font-weight);
  line-height: var(--mdc-typography-headline1-line-height);
}

h2.mdc-typography {
  font-family: var(--mdc-typography-headline2-font-family);
  font-size: var(--mdc-typography-headline2-font-size);
  font-weight: var(--mdc-typography-headline2-font-weight);
  line-height: var(--mdc-typography-headline2-line-height);
}

h3.mdc-typography {
  font-family: var(--mdc-typography-headline3-font-family);
  font-size: var(--mdc-typography-headline3-font-size);
  font-weight: var(--mdc-typography-headline3-font-weight);
  line-height: var(--mdc-typography-headline3-line-height);
}

h4.mdc-typography {
  font-family: var(--mdc-typography-headline4-font-family);
  font-size: var(--mdc-typography-headline4-font-size);
  font-weight: var(--mdc-typography-headline4-font-weight);
  line-height: var(--mdc-typography-headline4-line-height);
}

h5.mdc-typography {
  font-family: var(--mdc-typography-headline5-font-family);
  font-size: var(--mdc-typography-headline5-font-size);
  font-weight: var(--mdc-typography-headline5-font-weight);
  line-height: var(--mdc-typography-headline5-line-height);
}

h6.mdc-typography {
  font-family: var(--mdc-typography-headline6-font-family);
  font-size: var(--mdc-typography-headline6-font-size);
  font-weight: var(--mdc-typography-headline6-font-weight);
  line-height: var(--mdc-typography-headline6-line-height);
}

p.body1.mdc-typography {
  font-family: var(--mdc-typography-body1-font-family);
  font-size: var(--mdc-typography-body1-font-size);
  font-weight: var(--mdc-typography-body1-font-weight);
  line-height: var(--mdc-typography-body1-line-height);
  color: var(--mdc-theme-text-primary-on-dark)
}

p.body2.mdc-typography {
  font-family: var(--mdc-typography-body2-font-family);
  font-size: var(--mdc-typography-body2-font-size);
  font-weight: var(--mdc-typography-body2-font-weight);
  line-height: var(--mdc-typography-body2-line-height);
  color: var(--mdc-theme-text-primary-on-dark);
}
*/
/*
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: flex;
}
*/
