@page "/commands"

<Title>Commands | GLR Discord Bot</Title>

<section class="intro-container">
  <MatH2>Commands</MatH2>
  <MatBody1 class="page-description">The complete list of commands is here.</MatBody1>
</section>