@page "/leaderboards"

<Title>Leaderboards | GLR Discord Bot</Title>

<section class="intro-container">
  <MatH2>Leaderboards</MatH2>
  <MatBody1 class="page-description">Take a look at the top most active users on the server, and modify settings related
    to the Experience System here.</MatBody1>
</section>

<section class="leaderboards-tables">
  <MatTabGroup>
    <MatTab Label="XP Leaderboard">
      <MatBody2>y tf this tble doesn't work? idk man. I'll leave this for last I guess :)</MatBody2>
      <MatDataTable ShowPaging="true" UseSortHeaderRow="true" AllowSelection="true" ShowFooter="true" Striped="true">
        <MatSortHeader>
          <MatSortHeaderRow>
            <MatSortHeader SortId="rank" Style="width: 20%;">Rank</MatSortHeader>
            <MatSortHeader SortId="avatar" Style="width: 20%;">Avatar</MatSortHeader>
            <MatSortHeader SortId="name" Style="width: 20%;">Name</MatSortHeader>
            <MatSortHeader SortId="level" Style="width: 20%;">Level</MatSortHeader>
            <MatSortHeader SortId="experience" Style="width: 20%;">XP</MatSortHeader>
          </MatSortHeaderRow>
        </MatSortHeader>
        <MatDataTableRowOld>
          <td Style="width: 20%;">1</td>
          <td Style="width: 20%;">2</td>
          <td Style="width: 20%;">3</td>
          <td Style="width: 20%;">4</td>
          <td Style="width: 20%;">5</td>
        </MatDataTableRowOld>
        <MatDataTableRowOld>
          <td Style="width: 20%;">1</td>
          <td Style="width: 20%;">2</td>
          <td Style="width: 20%;">3</td>
          <td Style="width: 20%;">4</td>
          <td Style="width: 20%;">5</td>
        </MatDataTableRowOld>
      </MatDataTable>
    </MatTab>
    <MatTab Label="Second">
      Second Content
    </MatTab>
  </MatTabGroup>
</section>

<section class="level-up-msg-sec">
  <MatH3>Level-up message</MatH3>
  <MatBody2 class="mdc-high-emphasis">Modify the personalized message the bot will send upon leveling up.</MatBody2>
  <div class="mat-layout-grid">
    <div class="mat-layout-grid-inner">
      <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
        <MatPaper Elevation="1">
          <MatH4>Channel</MatH4>
          <MatBody2>Select which channel will the bot send the level-up message.</MatBody2>
          <MatDivider class="section-divider-18"></MatDivider>
          <MatSelect Label="Channel name" TValue="string">
            <MatOptionString>None (disabled)</MatOptionString>
            <MatOptionString>Current channel</MatOptionString>
            <MatOptionString>#chat-english</MatOptionString>
            <MatOptionString>#chat-español</MatOptionString>
            <MatOptionString>#porn-chat</MatOptionString>
            <MatOptionString>#logs</MatOptionString>
          </MatSelect>
        </MatPaper>
      </div>
      <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
        <MatPaper Elevation="1">
          <MatH4>Message</MatH4>
          <MatBody2>Type the message the bot will send.</MatBody2>
          <MatDivider class="section-divider-18"></MatDivider>
          <MatTextField TValue="string" Placeholder="Congratulations! You leveled up!" Label="Message"
            FullWidth="true" />
        </MatPaper>
      </div>
    </div>
  </div>
</section>

<section class="role-rewards-sec">
  <MatH3>Role rewards</MatH3>
  <MatBody2 class="mdc-high-emphasis">Automatically give a role as a reward to a user upon reaching certain level.</MatBody2>
  <div class="mat-layout-grid">
    <div class="mat-layout-grid-inner">
      <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
        <MatPaper Elevation="1">
          <MatH4>Stacking rewards</MatH4>
          <MatBody2 class="mdc-high-emphasis">Determines wether the user accumulates roles when leveling up or not.</MatBody2>
          <MatDivider class="section-divider-18"></MatDivider>
          <MatRadioGroup TValue="string">
            <div class="role-rewards-stacking__container">
              <MatRadioButton Value="@("stack")" TValue="string"></MatRadioButton>
              <MatList TwoLine="true">
                <MatListItem>
                  <MatListItemText>
                    <MatListItemPrimaryText>Stack rewards</MatListItemPrimaryText>
                    <MatListItemSecondaryText>The user can have multiple rewards at once.</MatListItemSecondaryText>
                  </MatListItemText>
                </MatListItem>
              </MatList>
            </div>
            <div class="role-rewards-stacking__container">
              <MatRadioButton Value="@("replace")" TValue="string"></MatRadioButton>
              <MatList TwoLine="true">
                <MatListItem>
                  <MatListItemText>
                    <MatListItemPrimaryText>Replace rewards</MatListItemPrimaryText>
                    <MatListItemSecondaryText>The user will have only the last reward role obtained. The previous one is removed.</MatListItemSecondaryText>
                  </MatListItemText>
                </MatListItem>
              </MatList>
            </div>
          </MatRadioGroup>
        </MatPaper>
      </div>
      <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
        <MatPaper Elevation="1">
          <MatH4>Role reward(s)</MatH4>
          <MatBody2 class="mdc-high-emphasis">Select the role to give to the user upon leveling up.</MatBody2>
          <MatDivider class="section-divider-18"></MatDivider>
          <MatSelect Label="Select role" FullWidth="true" TValue="string">
            <MatOptionString>None (disabled)</MatOptionString>
            <MatOptionString>Starling</MatOptionString>
            <MatOptionString>Marine</MatOptionString>
            <MatOptionString>Bazooka</MatOptionString>
            <MatOptionString>Starlinator</MatOptionString>
            <MatOptionString>TwoBits' been here :)</MatOptionString>
          </MatSelect>
        </MatPaper>
      </div>
    </div>
  </div>
</section>
<section class="xp-settings-sec">
  <MatH3>XP Multiplier</MatH3>
  <MatBody2 Class="mdc-high-emphasis">Modify the amount of XP obtained when chatting.</MatBody2>
  @* Uh... this should range from x0.25 to x3*@
  <MatSlider Step="0.25D" EnableStep="true" ValueMin="0.25D" ValueMax="3" Markers="true" Pin="true" TValue="double" Discrete="true" Value="1"></MatSlider>
</section>

<section class="xp-blacklists-sec">
  <MatH3>Blacklists</MatH3>
  <MatBody2 class="mdc-high-emphasis">Prevent certain roles and / or channels from providing XP to the user.</MatBody2>
  <div class="mat-layout-grid">
    <div class="mat-layout-grid-inner">
      <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
        <MatPaper Elevation="1">
          <MatH4>Roles</MatH4>
          <MatBody2 class="mdc-high-emphasis">Set which roles won't earn XP nor level up when chatting.</MatBody2>
          <MatDivider class="section-divider-18"></MatDivider>
          <div class="roles-list-container">
            @* This makes so when you click the "+" button, a new chip (that small rounded rectangle with text inside)
              will appear. You'll probably want to make it appear a dropdown menu list with the server channels in
              there and after selecting the channel, add the chip. Idk how 2 do that. Pro C# stuff I guess. ¯\_(ツ)_/¯ *@
            <MatChipSet @ref="chipset" @bind-SelectedChip="selectedChip">
              <MatIconButton class="mr-2" Icon="add" @onclick="OnAddOption" Id="AddRoleButton"></MatIconButton>
              @foreach (var option in labels)
              {
                <MatChip class="mt-1" Label=@option LeadingIcon="clear" TrailingIconClick="OnTrailingIconClick"
                  Id="RoleChip"></MatChip>
              }
            </MatChipSet>
          </div>
        </MatPaper>
      </div>
      <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
        <MatPaper Elevation="1">
          <MatH4>Channels</MatH4>
          <MatBody2 class="mdc-high-emphasis">Set which channels won't give XP when chatting in there.</MatBody2>
          <MatDivider class="section-divider-18"></MatDivider>
          @* Same here. More of your C# magic goes here I guess. :p *@
          <div class="channels-list-container">
            <ul class="channels-list">
              <li class="channel">
                <svg width="24" height="24" class="jbvrpb-10 hGpXtv" viewBox="0 0 24 24">
                  <path fill="currentColor" fill-rule="evenodd" clip-rule="evenodd" d="M5.88657 21C5.57547 21 5.3399 20.7189 5.39427 20.4126L6.00001 17H2.59511C2.28449 17 2.04905 16.7198 2.10259 16.4138L2.27759 15.4138C2.31946 15.1746 2.52722 15 2.77011 15H6.35001L7.41001 9H4.00511C3.69449 9 3.45905 8.71977 3.51259 8.41381L3.68759 7.41381C3.72946 7.17456 3.93722 7 4.18011 7H7.76001L8.39677 3.41262C8.43914 3.17391 8.64664 3 8.88907 3H9.87344C10.1845 3 10.4201 3.28107 10.3657 3.58738L9.76001 7H15.76L16.3968 3.41262C16.4391 3.17391 16.6466 3 16.8891 3H17.8734C18.1845 3 18.4201 3.28107 18.3657 3.58738L17.76 7H21.1649C21.4755 7 21.711 7.28023 21.6574 7.58619L21.4824 8.58619C21.4406 8.82544 21.2328 9 20.9899 9H17.41L16.35 15H19.7549C20.0655 15 20.301 15.2802 20.2474 15.5862L20.0724 16.5862C20.0306 16.8254 19.8228 17 19.5799 17H16L15.3632 20.5874C15.3209 20.8261 15.1134 21 14.8709 21H13.8866C13.5755 21 13.3399 20.7189 13.3943 20.4126L14 17H8.00001L7.36325 20.5874C7.32088 20.8261 7.11337 21 6.87094 21H5.88657ZM9.41045 9L8.35045 15H14.3504L15.4104 9H9.41045Z"></path>
                </svg>
                <span class="channel-name">play-the-game</span>
                <button class="close-button"><i class="material-icons">close</i></button>
              </li>
              <li class="channel">
                <svg width="24" height="24" class="jbvrpb-10 hGpXtv" viewBox="0 0 24 24">
                  <path fill="currentColor" fill-rule="evenodd" clip-rule="evenodd" d="M5.88657 21C5.57547 21 5.3399 20.7189 5.39427 20.4126L6.00001 17H2.59511C2.28449 17 2.04905 16.7198 2.10259 16.4138L2.27759 15.4138C2.31946 15.1746 2.52722 15 2.77011 15H6.35001L7.41001 9H4.00511C3.69449 9 3.45905 8.71977 3.51259 8.41381L3.68759 7.41381C3.72946 7.17456 3.93722 7 4.18011 7H7.76001L8.39677 3.41262C8.43914 3.17391 8.64664 3 8.88907 3H9.87344C10.1845 3 10.4201 3.28107 10.3657 3.58738L9.76001 7H15.76L16.3968 3.41262C16.4391 3.17391 16.6466 3 16.8891 3H17.8734C18.1845 3 18.4201 3.28107 18.3657 3.58738L17.76 7H21.1649C21.4755 7 21.711 7.28023 21.6574 7.58619L21.4824 8.58619C21.4406 8.82544 21.2328 9 20.9899 9H17.41L16.35 15H19.7549C20.0655 15 20.301 15.2802 20.2474 15.5862L20.0724 16.5862C20.0306 16.8254 19.8228 17 19.5799 17H16L15.3632 20.5874C15.3209 20.8261 15.1134 21 14.8709 21H13.8866C13.5755 21 13.3399 20.7189 13.3943 20.4126L14 17H8.00001L7.36325 20.5874C7.32088 20.8261 7.11337 21 6.87094 21H5.88657ZM9.41045 9L8.35045 15H14.3504L15.4104 9H9.41045Z"></path>
                </svg>
                <span class="channel-name">play-the-game</span>
                <button class="close-button"><i class="material-icons">close</i></button>
              </li>
              <li class="add-channel-button">
                <MatIconButton class="mr-3" Icon="add" Id="AddRoleButton"></MatIconButton>
              </li>
            </ul>
          </div>
        </MatPaper>
      </div>
    </div>
  </div>
</section>
<section class="role-rewards-sec">
  <MatH3>Commands</MatH3>
  <MatBody2 class="mdc-high-emphasis">Quick access to xp-related commands and their configurations.</MatBody2>
  <div class="mat-layout-grid">
    <div class="mat-layout-grid-inner">
      <div class="mat-layout-grid-cell mat-layout-grid-cell-span-4">
        <MatPaper Elevation="1">
          <div class="xp-commands__container">
            <MatSlideToggle TValue="bool"></MatSlideToggle>
            <MatList TwoLine="true">
              <MatListItem>
                <MatListItemText>
                  <MatListItemPrimaryText>!give-xp</MatListItemPrimaryText>
                  <MatListItemSecondaryText>Give a set amount of XP to anyone on the server.</MatListItemSecondaryText>
                </MatListItemText>
              </MatListItem>
            </MatList>
          </div>
        </MatPaper>
      </div>
      <div class="mat-layout-grid-cell mat-layout-grid-cell-span-4">
        <MatPaper Elevation="1">
          <div class="xp-commands__container">
            <MatSlideToggle TValue="bool"></MatSlideToggle>
            <MatList TwoLine="true">
              <MatListItem>
                <MatListItemText>
                  <MatListItemPrimaryText>!remove-xp</MatListItemPrimaryText>
                  <MatListItemSecondaryText>Remove a set amount of XP from anyone on the server.</MatListItemSecondaryText>
                </MatListItemText>
              </MatListItem>
            </MatList>
          </div>
        </MatPaper>
      </div>
      <div class="mat-layout-grid-cell mat-layout-grid-cell-span-4">
        <MatPaper Elevation="1">
          <div class="xp-commands__container">
            <MatSlideToggle TValue="bool"></MatSlideToggle>
            <MatList TwoLine="true">
              <MatListItem>
                <MatListItemText>
                  <MatListItemPrimaryText>!xp-leaderboard</MatListItemPrimaryText>
                  <MatListItemSecondaryText>View the server's XP leaderboard.</MatListItemSecondaryText>
                </MatListItemText>
              </MatListItem>
            </MatList>
          </div>
        </MatPaper>
      </div>
      <div class="mat-layout-grid-cell mat-layout-grid-cell-span-4">
        <MatPaper Elevation="1">
          <div class="xp-commands__container">
            <MatSlideToggle TValue="bool"></MatSlideToggle>
            <MatList TwoLine="true">
              <MatListItem>
                <MatListItemText>
                  <MatListItemPrimaryText>!xp-rank</MatListItemPrimaryText>
                  <MatListItemSecondaryText>Get your XP rank or someone else's XP rank.</MatListItemSecondaryText>
                </MatListItemText>
              </MatListItem>
            </MatList>
          </div>
        </MatPaper>
      </div>
    </div>
  </div>
</section>

@code
{
  public int tabIndex = 0;

  void ChangeTab(MouseEventArgs e)
  {
    tabIndex = tabIndex < 3 ? tabIndex + 1 : 0;
  }
@*
  bool checked1 = true;
  bool checked2 = false;
  bool? checked3 = null;
*@
  MatChip selectedChip = null;
  @*MatChip[] selectedChips = null;*@

  MatChipSet chipset = null;
  int counter = 1;
  List<string> labels = new List<string>();

  private void OnAddOption()
  {
    labels.Add($"Chip {counter++}");
  }

  private void OnTrailingIconClick(MatChip chip)
  {
    labels.Remove(chip.Label);
    chipset?.UnregisterChip(chip); // <-- to avoid memleak
  }
}